.cartModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9b5221;
    overflow: hidden;
}

.itemContainer {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
}

.cartCard {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    background-color: #fff;
    padding: 1rem;
    font-family: 'Unbounded', sans-serif;
    border: 0.2rem solid #fb9752;
    border-radius: 20px;
    box-shadow: -1px -2px 8px #fb9752;
}

.total {
    width: 80%;
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1rem 1.4rem;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border: 0.2rem solid #fb9752;
}

.totalText {
    font-size: 3rem;
    font-weight: 700;
    margin-inline: 1rem;

}

.totalPrice {
    font-size: 3rem;
    font-weight: 700;
    margin-inline: 1rem;
}

.removeBtn{
    /* padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #fb9752; */
    border: 0.2rem solid #9b5221;
    background-color: var(--primary-color);
    color: #9b5221;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1rem;
    box-shadow: 3px 3px 0px 1px #9b5221;
    transition: all 0.2s ease-in-out;
}
.removeBtn:hover {
    transform: scale(0.9);
    box-shadow: 1px 1px 0px 1px #fb9752;
    color: #9b5221;
  }

.image {
    height: 65%;
    object-fit: contain;
    padding-bottom: 20px;
    border-bottom: 1px solid #fb9752;
}

h1,h3{
    margin: 10px 0;
}