body{
  font-family: Arial, Helvetica, sans-serif;
  color: #9b5221;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  position: relative;
}
.App {
  text-align: center;
}

input{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fb9752;
  border: none;
  border-radius: 10px;
}

button{
  /* width: 100px; */
  /* height: 40px; */
  /* border-radius: 8px; */
  border: 1px solid #000;
  background-color: #fb9752;
}

